<h1 md-dialog-title>排序号"{{data.Number}}"的广告图片</h1>
<div>
    <button class="btn btn-xs" color="primary" md-raised-button (click)="addPhoto()">
        <i class="fa fa-plus"></i> 新增图片
    </button>
</div>
<div>
    <ul>
        <li *ngFor="let pic of data.Pictures">
            <img class="brand-pic" [attr.src]="pic" (mouseover)="del=true" (mouseout)="del=false" />
            <i [hidden]="!del" class="fa fa-pencil fa-lg"></i>
            <i class="fa fa-close fa-lg" (click)="delPhoto(data.Id, pic)"></i>
        </li>
    </ul>
</div>
<form autocomplete="off" novalidate #addPhotoForm="ngForm">
    <div class="form-group" [hidden]="!add">
        <file-uploader name="Pictures" allowed-exts="jpg,jpeg,bmp,png,gif" [url]="uploadUrl" [max-file-size]="1024*1024" [additional-params]="uploadAdditonalParameter" item-alias="web_file" auto-upload #uploader="fileUploader" [queue-limit]="3">
            <span class="text-note" *ngIf="data.Pictures==null">请上传广告图片(可选)。</span>
            <span class="text-success" *ngIf="data.Pictures!=null"><i class="fa fa-check"></i> 请上传广告图片(可选)。</span>
        </file-uploader>
    </div>
</form>
<md-dialog-actions>
    <button class="btn" color="primary" md-raised-button md-dialog-close (click)="save()">确定</button>
    <button class="btn" md-raised-button md-dialog-close>取消</button>
</md-dialog-actions>